/**
 * Self created stylings
 */

strong {
    color: #a01441;
}

.footer {
    font-size: large;
    max-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}